<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars List</title>
</head>
<body>
<h1>List of Cars</h1>
<table border="1">
    <thead>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.make}">Make</td>
        <td th:text="${car.model}">Model</td>
        <td th:text="${car.year}">Year</td>
    </tr>
    </tbody>
</table>
</body>
</html>